.Minimalist {
  font-family: "Roboto Flex", sans-serif;

  margin: 0;
  &.display-large {
    font-size: 48px;
    font-weight: bold;
    line-height: 64px;
    letter-spacing: -0.25px;
  }

  &.display-medium {
    font-size: 40px;
    font-weight: bold;
    line-height: 52px;
    letter-spacing: -0.25px;
  }

  &.heading-1 {
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -0.25px;
  }

  &.heading-2 {
    font-size: 28px;
    font-weight: normal;
    line-height: 36px;
    letter-spacing: 0px;
  }

  &.heading-3 {
    font-size: 24px;
    font-weight: normal;
    line-height: 32px;
    letter-spacing: 0px;
  }

  &.body-large {
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
    letter-spacing: 0.15px;
  }

  &.body-large-bold {
    font-size: 18px;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: 0.15px;
  }

  &.body-medium {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0.5px;
  }

  &.body-small {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0px;
  }

  &.button-large {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 1px;
  }

  &.button-small {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &.caption {
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    letter-spacing: 0.4px;
  }

  &.overline {
    font-size: 10px;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 1.5px;
  }
}

.Brutalist {

}

.Space {
  
}
