.heroSection {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 115px;
  justify-content: center;
}
.animatedLogo {
  margin: 0 52px 0 52px;
  filter: invert(73%) sepia(7%) saturate(199%) hue-rotate(147deg)
    brightness(92%) contrast(91%);
}

.learnMoreButton {
  transition: 0.3s ease-in-out;
  max-width: 186px;
  height: 42px;
  color: #ffffff;
  background-color: #1e1e1e;
  border: none;
  border-radius: 6px;
  width: 100%;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.54);
}

.learnMoreButton:hover {
  transition: 0.3s ease-in-out;
  background-color: #313131;
}

.learnMoreGroup {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
}
