.Minimalist {
  padding-top: 97px;
  .wrapper {
    min-height: 65px;
    margin: 0 50px 0 50px;
    display: flex;
    flex-direction: row;
    gap: 11px;
    align-items: flex-end;
    padding-bottom: 12px;
    border-bottom: 6px solid #1e1e1e;
    border-right: 4px solid #1e1e1e;

    justify-content: space-between;
    padding-right: 16px;

    .headerTitle {
      font-family: "Rubik Maze", sans-serif;
      font-weight: normal;
      line-height: 35px;
      letter-spacing: -1px;
      margin: 0;
      font-size: 40px;
      width: fit-content;
    }

    .hamburgerMenu {
      background: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: auto;
      padding: 0;
      gap: 8px;
      .line {
        background-color: #1e1e1e;
        height: 4px;
        width: 30px;
      }
    }

    .hamburgerMenu:hover {
      .line {
        background-color: #a4abad;
      }
    }
  }
}

.Brutalism {
  padding-top: 97px;

  .wrapper {
    margin: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    height: 98px;
    padding: 0 20px;

    .headerTitle {
      font-family: "Rubik Maze", sans-serif;
      font-weight: normal;
      font-size: 64px;
      color: #ffffff;
      letter-spacing: -1px;
      margin: 0;
      padding: 0;
      line-height: 98px;
    }

    .hamburgerMenu {
      background: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50px;
      height: 38px;
      padding: 0;

      .line {
        background-color: #ffffff;
        height: 8px;
        width: 70%;
      }
    }
  }
}

.Skeumorph {
  padding-top: 97px;
  .wrapper {
    margin: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #b0b0b0;
    height: 98px;
    padding: 0 20px;

    .headerTitle {
      font-family: "Rubik Maze", sans-serif;
      font-weight: normal;
      font-size: 64px;
      color: #8a5a44;
      letter-spacing: -1px;
      margin: 0;
      padding: 0;
      line-height: 98px;
    }

    .hamburgerMenu {
      background: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50px;
      height: 38px;
      padding: 0;

      .line {
        background-color: #ee4e14;
        border-radius: 12px 12px 12px 12px;
        height: 5px;
        width: 70%;
      }
    }
  }
}

.Vintage {
  .wrapper {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #cd3c59;
    height: 98px;
    padding: 0 20px;
    padding-top: 0px;
    border-radius: 12px 12px 0px 0px;

    .headerTitle {
      font-family: "Rubik Maze", sans-serif;
      font-weight: normal;
      font-size: 64px;
      color: #ffc89d;
      letter-spacing: -1px;
      margin: 0;
      padding: 0;
      line-height: 98px;
    }

    .hamburgerMenu {
      background: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50px;
      height: 38px;
      padding: 0;

      .line {
        background-color: #d8a7b1;
        border-radius: 12px 12px 12px 12px;
        height: 5px;
        width: 70%;
      }
    }
  }
}

.Space {
  padding-top: 97px;
  .wrapper {
    margin: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2b2b;
    height: 98px;
    padding: 0 20px;

    .headerTitle {
      font-family: "Rubik Maze", sans-serif;
      font-weight: normal;
      font-size: 64px;
      color: #02d2ba;
      letter-spacing: -1px;
      margin: 0;
      padding: 0;
      line-height: 98px;
    }

    .hamburgerMenu {
      background: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50px;
      height: 38px;
      padding: 0;

      .line {
        background-color: #02d2ba;
        border-radius: 12px 12px 12px 12px;
        height: 5px;
        width: 70%;
      }
    }
  }
}
