h1 {
  font-weight: bold;
  font-size: 40px;
  letter-spacing: -0.25px;
  line-height: 54px;
  margin: 48px 0 48px 0;
}

.listWrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 30px;
  justify-content: space-evenly;
  .servicesContainer {
    max-width: 556px;
  }

  .active {
    position: relative;
  }

  .active {
    text-decoration: underline;
  }

  .listStyles {
    cursor: pointer;

    font-size: 24px;
    line-height: 32px;
    max-width: min-content;
    max-width: 261px;
  }

  .listStyles:hover {
    text-decoration: underline;
  }
}

.serviceButtonWrapper {
  position: relative;
  max-height: 225px;
  display: flex;

  .breakLineMe {
    max-width: 104px;
  }

  .groupWrapper {
    height: 202px;
    gap: 50px;
    margin: 0;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    border-right: 2px solid #a4abad;
  }
}

.serviceButtonWrapper::after {
  content: "";
  width: 95%;
  position: absolute;
  border: 1px solid #a4abad;
  bottom: -15px;
}

.contactUsButton {
  margin-top: 48px;
  border: 1px solid #1e1e1e;
  color: #1e1e1e;
  padding: 10px 24px;
  background-color: transparent;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.contactUsButton:hover {
  box-shadow: 0px 0px 26px 4px rgba(0, 0, 0, 0.18);
}

img {
  display: block;
  transition: height 0.5s ease, opacity 0.5s ease;
}

.serviceWebMaintenanceWrapper {
  margin-top: 25px;
  padding-top: 25px;
  padding-left: 11px;
  border-right: 2px solid #a4abad;
  display: flex;
  flex-direction: column;
  gap: 18px;

  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.serviceWebMaintenanceWrapper.open {
  max-height: 500px;
  opacity: 1;
}

.servicesBaseImage {
  width: 193px;
  height: 217px;
  transition: height 0.5s ease, opacity 2s ease;
}

.expandedImage {
  width: 193px;
  height: 540px;
  transition: height 0.5s ease, opacity 2s ease;
}
