@import "@themes/theme-space";
@import "@themes/theme-brutalism";
@import "@themes/theme-minimalist";
@import "@themes/theme-skeumorphism";
@import "@themes/theme-vintage";

.mainTitle {
  background-color: var(--bg-2);
  display: var(--display);
  width: var(--width);
}

* {
  color: var(--text-color);
}

footer {
  bottom: 0;
  position: absolute;
}

header {
  top: 0;
  position: sticky;
}

.theme-page-wrapper {
  max-width: 938px;
  box-shadow: 22px -13px 66.3px 0 rgba(36, 40, 62, 0.54);
  border-radius: 25px;
  margin: 135px auto;
}

.theme-selector-container {
  position: absolute;
  top: 400px;
  left: 150px;
}


