@import "@themes/theme-space";
@import "@themes/theme-brutalism";
@import "@themes/theme-minimalist";
@import "@themes/theme-skeumorphism";
@import "@themes/theme-vintage";

.mainTitle {
  background-color: var(--bg-2);
  display: var(--display);
  width: var(--width);
}

body {
  background-color: #01060a;
}

* {
  color: var(--text-color);
}

footer {
  bottom: 0;
  position: absolute;
}

header {
  top: 0;
  position: sticky;
}
